<!-- fragmento 1 para Agregar producto en ventana modal -->
<section th:fragment="agregar">
    <!-- Button trigger modal -->
    <div class='row py-4 mb-2 bg-light'>
        <div class='col-md-1'></div>
        <div class='col-md-3' sec:authorize="hasRole('ROLE_ADMIN')">
            <button type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#agregarServicioModal">
                <i class="fa-solid fa-plus"></i> [[#{servicio.agregar}]]</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="agregarServicioModal"  tabindex="-1" 
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                        <i class="fa-solid fa-layer-group"></i> [[#{servicio.agregar}]]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action='@{/servicio/guardar}' th:object='${producto}'
                      class='was-validated' enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label>[[#{servicio.categoria}]]</label>
                            <select name="servicio.idCategoria" 
                                    class="form-select" 
                                    aria-label="Default select example">
                                <option th:each="c : ${categorias}" th:value="${c.idCategoria}">
                                    [[${c.nombre}]]
                                </option>
                            </select>
                        </div>
                        <div class='mb-3'>
                            <label>[[#{servicio.nombre}]]</label>
                            <input type="text" name='descripcion' class='form-control' maxlength="50" required/>
                        </div>
                        <div class="mb-3">
                            <label>[[#{servicio.precio}]]</label>                                    
                            <textarea class="form-control" name="detalle" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- fragmento 2 para el listado de servicios -->
<section th:fragment="listado" class="p-3">
    <div class="row p-3">
        <div class="col-md-9">
            <div class="card p-2">
                <div class="card-header">
                    <h4>[[#{servicio.listado}]]</h4>
                </div>
                <div class="card-body">

                    <div th:if="${servicios != null and !servicios.empty}">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>[[#{servicio.nombre}]]</th>
                                    <th class="text-end">[[#{servicio.precio}]]</th>
                                    <th>[[#{servicio.categoria}]]</th>
                                    <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="s : ${servicios}">
                                    <td>[[${s.idServicio}]]</td>
                                    <td>[[${s.nombre}]]</td>
                                    <td class="text-end">
                                        [[${#numbers.formatCurrency(s.precio)}]]
                                    </td>
                                    <td>[[${s.categoria.nombre}]]</td>
                                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                                        <button type="button"
                                                class="btn btn-danger"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirmModal"
                                                th:data-bs-id="${s.idServicio}"
                                                th:data-bs-nombre="${s.nombre}">
                                            [[#{accion.eliminar}]]
                                        </button>
                                        <a th:href="@{/servicio/modificar/}+${s.idServicio}"
                                           class="btn btn-warning">
                                            [[#{accion.actualizar}]]
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center p-2"
                         th:if="${servicios == null or servicios.empty}">
                        [[#{lista.vacia}]]
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center bg-success text-white">
                <div class="card-body">
                    <h3>[[#{servicio.total}]]</h3>
                    <h4 class="fs-2">[[${totalServicios}]]</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 3 Fragmento que se utiliza en la página modifca.html -->
<section th:fragment="editar">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <form th:action="@{/servicio/guardar}"
                  th:object="${servicio}"
                  method="post"
                  class="was-validated">

                <input type="hidden" th:field="*{idServicio}"/>

                <div class="row py-4 mb-4 bg-light">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/servicio/listado}" class="btn btn-primary">
                            [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4>[[#{accion.actualizar}]]</h4>
                    </div>
                    <div class="card-body">

                        <div class="mb-3">
                            <label>[[#{servicio.categoria}]]</label>
                            <select th:field="*{categoria.idCategoria}"
                                    class="form-select"
                                    required>
                                <option th:each="c : ${categorias}"
                                        th:value="${c.idCategoria}">
                                    [[${c.nombre}]]
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label>[[#{servicio.nombre}]]</label>
                            <input type="text"
                                   th:field="*{nombre}"
                                   class="form-control"
                                   maxlength="100"
                                   required/>
                        </div>

                        <div class="mb-3">
                            <label>[[#{servicio.precio}]]</label>
                            <input type="number"
                                   th:field="*{precio}"
                                   class="form-control"
                                   min="0.01"
                                   step="0.01"
                                   required/>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- 4 fragmento que se utiliza para confirmar que se desea eliminar un servicio -->
<section th:fragment="confirmarEliminar">
    <div class="modal fade" 
         id="confirmModal" 
         tabindex="-1" 
         aria-labelledby="modalLabel" 
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-animation">
            <div class="modal-content animate-slide-up">
                <form th:action="@{/servicio/eliminar}" th:object="${servicio}" method="post">
                    <input type="hidden" name="idServicio" id="modalId"/>
                    <div class="modal-header bg-warning text-white">
                        <h5 class="modal-title" id="modalLabel">
                            <i class="fa-solid fa-circle-radiation"></i> [[#{accion.confirmar}]]
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{accion.confirmar.texto1}]] <span id="modalNombre"></span>?</p>
                        <h6>[[#{accion.confirmar.texto2}]]</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> [[#{accion.cerrar}]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>